body {
    padding-top: 50px;
    background-image: url('../img/downtown.jpg');
}

.navbar-brand img {
    height: 20px;
    display: inline;
}

#loginPage {
    color: white;
    text-align: center;
    width: 40%;
    margin: auto;
}
